---
import Layout from "../layouts/Layout.astro";
import ReceptesController from "../classes/ReceptesController";
import Recepta from "../components/Recepta.astro";
// Exemple d'ús:

const receptesController = new ReceptesController();

const receptes = await receptesController.getAllReceptes();
let cookie;
if (Astro.cookies.has("usuari")) {
  cookie = Astro.cookies.get("usuari").value;

  //const cookie = Astro.cookies.get("usuari")
} else {
  return Astro.redirect("/login");
}
let userList = receptes.list.filter((e) => {
  return e.usuari === cookie;
});
---

<Layout titleCa="Receptes" titleEs="Recetas">
  <div
    class="bg-emerald-300 w-10 h-10 py-1 px-3 bottom-0 rounded-full hover:bg-emerald-500 shadow-lg shadow-slate-500 hover:shadow-emerald-500 my-2 sticky top-4"
  >
    <a class="text-xl" href="/receptes/nova">+</a>
  </div>
  <div></div>

  <div class="y-auto grid md:grid-cols-2 lg:grid-cols-4 gap-4">
    {userList.map((e) => <Recepta dades={e} />)}
  </div>
</Layout>
