---
const { nom, foto, descripcio, Id } = Astro.props.dades;
---

<div
  class="flex flex-col items-center justify-between content-center border mb-8 p-8 bg-white rounded-md shadow-md shadow-white-500"
>
  <h1 class="text-xl font-bold text-center mb-2">{nom}</h1>

  <img class="rounded-xl w-2/3" src={foto} alt="img" />
  <hr class="my-4" />
  {
    descripcio
      .replace(/\n/g, "*n*")
      .split("*n*")
      .map((e) => <p class="mx-2 text-justify">{e}</p>)
  }
  <hr class="my-4" />

  <div class="flex flex-row gap-2 h-autos space-x-14">
    <div
      class="bg-sky-300 w-fit p-2 bottom-0 rounded-md hover:bg-sky-500 shadow-sm shadow-slate-400 hover:shadow-slate-500"
    >
      <a class="" href={"/receptes/modificar/" + Id}>Modificar</a>
    </div>

    <div
      class="bg-slate-300 w-fit p-2 bottom-0 rounded-md hover:bg-red-500 shadow-sm shadow-slate-400 hover:shadow-red-500"
    >
      <a class="" href={"/receptes/eliminar/" + Id}>Eliminar</a>
    </div>
  </div>
</div>
