---
import Layout from "../../../layouts/Layout.astro";
import ReceptesController from "../../../classes/ReceptesController";
// Exemple d'ús:

const { Id } = Astro.params;

const receptesController = new ReceptesController();

const recepta = await receptesController.getReceptaById(Id);

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const id = data.get("id");

  await receptesController.deleteRecepta(id);

  return Astro.redirect("/");
}
---

<Layout title="elimina recepta">
  <div
    class="flex flex-col m-auto w-fit bg-white rounded-md p-4 shadow-lg shadow-slate-400"
  >
    <h1>Segur que vols eliminar {recepta.nom}?</h1>

    <form method="post" class="flex flex-row justify-center gap-4 my-4">
      <input value={Id} name="id" type="hidden" />
      <button
        class="bg-red-300 w-fit p-2 px-4 bottom-0 rounded-md hover:bg-red-500 shadow-sm shadow-slate-400 hover:shadow-red-500"
        type="submit">Si</button
      >
      <a href="/">
        <button
          class="bg-slate-300 w-fit p-2 px-4 bottom-0 rounded-md hover:bg-sky-500 shadow-sm shadow-slate-400 hover:shadow-slate-500"
          type="button">No</button
        >
      </a>
    </form>
  </div>
</Layout>
